.App {
  text-align: center;
}

.App-container {
  width: 60%; /* Atur lebar menjadi 3/4 layar */
  max-width: 1200px; /* Atur lebar maksimum sesuai kebutuhan */
  margin: 0 auto; /* Pusatkan elemen */
  padding: 20px; /* Tambahkan padding jika diperlukan */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Dark Mode styling */
.dark-mode .App-header {
  background-color: #161414;
  color: #e0e0e0;
}

.dark-mode .App-link {
  color: #bb86fc;
}

.dark-mode .App-logo {
  filter: brightness(0.8);
}

.task-info.card-body {
  background-color: #ffffff; /* Warna latar belakang saat light mode */
}

.dark-mode .task-info.card-body {
  background-color: #2a2a2a; /* Warna latar belakang saat dark mode */
}

.task-name {
  font-size: 14px;
  color: #161414; /* Warna teks saat light mode */
  font-weight: bold; /* Mengubah teks menjadi bold */
}

.dark-mode .task-name {
  color: white; /* Warna teks menjadi putih saat dark mode */
  font-weight: bold; /* Pastikan tetap bold saat dark mode */
}

.task-label {
    font-size: 14px;
    color: #161414; /* Warna teks saat light mode */
}

.dark-mode .task-label {
    color: white; /* Warna teks menjadi putih saat dark mode */
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-container {
  height: 100vh;
  padding: 20px;
}

/* App.css */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Atur lebar ke 100% agar mengisi ruang yang tersedia */
  max-width: 800px; /* Atur lebar maksimum sesuai kebutuhan */
  margin-left: auto; /* Pusatkan elemen */
  margin-right: auto; /* Pusatkan elemen */
  padding: 10px; /* Tambahkan padding jika diperlukan */
}

.search-container .form-control {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container .input-group-text {
  background-color: #007bff;
  color: white;
  border-radius: 20px 0 0 20px;
}

/* Keyframes for logo spin */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
